

.ui-mobile body {

}

.ui-body-c {
  text-shadow: none;
}

.ui-bar-a,
.ui-header {
  background-color: #007380;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.23, rgb(0,115,128)),
      color-stop(0.62, rgb(0,172,191))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(0,115,128) 23%,
      rgb(0,172,191) 62%
  );
}

div.page_content {
  background-color: #f5b232;
  background-image: none;
  /*
    Hey Nadir, here's the start and end values for that orange gradient:
      start: F8C037
      end: EA8424
    Also, don't know how relevant this is, but the middle point between light and dark orange is at 85.95%, not 50%.
  */
}

div.section {
  overflow: auto;
}

div.section .half {
  width: 50%;
  float: left;
}

div.image_wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.iframe_wrapper {
  clear: both;
  overflow: hidden;
}

div.footer_wrapper {
  background-color: #bac000;
}

div.footer_wrapper .ui-footer{
  padding: 8px 4px;
}

div.footer_wrapper .ui-footer .ui-btn {
  font-size: 12px;
}

div.footer_wrapper a.full_link {
  display: block;
  padding: 12px 4px;
  text-decoration: none;
  color: #333;
}

div.footer_wrapper a.full_link span.unicode_symbol {

}
