

.ui-mobile body {

}

.ui-body-c {
  text-shadow: none;
}

.ui-bar-a,
.ui-header {
  background-color: #007380;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.23, rgb(0,115,128)),
      color-stop(0.62, rgb(0,172,191))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(0,115,128) 23%,
      rgb(0,172,191) 62%
  );
}

div.page_content {
  background-color: #f5b232;
  /*
    Hey Nadir, here's the start and end values for that orange gradient:
      start: F8C037
      end: EA8424
    Also, don't know how relevant this is, but the middle point between light and dark orange is at 85.95%, not 50%.
  */
}

div.section {

}

div.section .half {
  width: 50%;
  float: left;
}

div.image_wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
